

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: #CEB888;
  /* overflow: scroll; */
  /* background: black; */
  background: #202020;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 500) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid #CEB888;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 100px;
 
}

.friendDropdown {
  
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  height: 40px;
  background:#cccccc;
  border:1px solid #cccccc;
  margin: 0.5rem 0;
  /* padding: 1rem; */
 
}

button {
  border: none;
  background: #CEB888;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5px;
  color:  black;
  display: inline-block;
  
  
  /* width:400px; */

}


button:hover {
  background-color:white;
  transition: 0.7s;
}

.link-btn {
  width:700px;
}

.reset-btn {
  width:400px;

}
a:link { text-decoration: none; }



.reset-btn2 {
  height: 40px;
  position: relative;
  /* margin: -20px -50px; */
  width: 300px;
  top: 30px;
  left: -100%;
  display: block; 
}

.prof {
  
  position: relative;
  left: 65%;
  margin-top: -95%;
  min-height: 300px;
  

  /* width: 200px;
  top: 170px;
  height: 350px;  
  width: 450px;
  right: 200px; */
  border-radius: 10px;
  background-color:#CEB888;
  color:black;
  /* left: -200%; */
}




.reg-btn {
  width:400px;
}



.settingsNav-btn {
  color: black;
  position: fixed;
  width: 100px;
  border: 3px;
  top:30px;
  left: 40px;
  padding: 10px;
  

}

.friendNav-btn {
  color: black;
  position: fixed;
  width: 100px;
  border: 3px;
  top:30px;
  left: 150px;
  padding: 10px;
  
}

.friendsTitle {
  margin: 0.1rem;
  padding: 5px;
  margin-left: 150px;
  border-radius: 10px;
  border: 1px solid #CEB888;
  width: 150px;
  color: #CEB888;
}

.friendsList {
  overflow: auto;
  height: 300px;
  width: 280px;
  border-radius: 10px;
  justify-content: left;
  background-color:#CEB888;
  color:black;

}

.recTitle {
  margin: 0.1rem;
  position: absolute;
  margin-top: -363px;
  padding: 5px;
  margin-left: 400px;
  border-radius: 10px;
  border: 1px solid #CEB888;
  width: 150px;
  color: #CEB888;
}

.recList {
  overflow: auto;
  position: absolute;
  width: 280px;
  margin-top: -316px;
  height: 300px;
  border-radius: 10px;
  margin-left: 320px;
  justify-content: left;
  background-color:#CEB888;
  color:black;
}



#addFriend {
  position: absolute;
  margin-left: -400px;
  margin-top: -316px;


}


#friendReq {
  position: absolute;
  overflow: auto;
  height: 180px;
  border-radius: 10px;
  border: 1px solid #CEB888;
  color:black;
  width: 330px;
  background-color: #CEB888;
  margin-left: -390px;
  margin-top: -100px;


}

#friendReqTitle {
  /* margin: 0.1rem; */
  position: absolute;
  margin-top: -150px;
  padding: 5px;
  margin-left: -310px;
  border-radius: 10px;
  border: 1px solid #CEB888;
  width: 150px;
  color: #CEB888;


}

#eventReq {
  /* position: absolute; */
  overflow: auto;
  padding: 10px;
  align-items: center;
  height: 180px;
  border-radius: 10px;
  border: 1px solid #CEB888;
  color:black;
  width: 380px;
  background-color: #CEB888;
  /* margin-left: -250px;
  margin-top: -100px; */


}




.dropdown {
  max-width: 100%;
  height: 50px;
  display: flex;
  font-size: 15px;
  color: black;
  justify-content: center;
  border: solid 5px #CEB888;
  padding: 0.5rem;
  border-radius: 20px;

}

.friendProfile {
  align-items: center;
  font:bold;
  margin: 0.6rem;
  padding: 10px;
  margin-left: 2px;
  border-radius: 10px;
  border: 2px solid #CEB888;
  width: 380px;
  color: #CEB888;
}

.friendCheckbox{
  overflow: auto;
  min-height: 20px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #CEB888;
  padding: 10px;
  position: relative;
  /* margin-left: 25%; */
  margin-left: -10%;
  display: flex;
}

.friendCheckboxTitle{
  border-radius: 10px;
  border: 2px solid #CEB888;
  padding: 8px;
  margin-bottom: 8px;
  width: 200px;
  position: relative;
  /* margin-left: 25%; */
  margin-left: -10%;
  display: block;

}

.friendDropdownTitle {
  border-radius: 10px;
  border: 2px solid #CEB888;
  padding: 10px;
}

.viewSchedule {
  /* border-radius: 10px;
  border: 2px solid #CEB888; */
  padding: 5px;
  margin-left: -80px;
  margin-right: 2px;


}

.importButton {
  position: relative;
  /* margin: -20px -50px; */
  width: 150px;
  top: 80px;
  left: -110%;
  display: block; }

  .genClass {
    position: relative;
    /* margin: -20px -50px; */
    width: 150px;
    top: 150px;
    left: -20%;
    display: block; }

    ul {
      list-style-type: none;
      /* scroll-margin-inline: 100px; */
      /* padding: 10; */
    }

    .review {
      height: 150px;
      width: 380px;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 10px;
    }

    .on {
      color: #CEB888;
    }
    .off {
      color: #ccc;
    }

    #rating-btn {
      border: none;
      font-size: 40px;
      background: none;
      border-radius:none;
      cursor: pointer;
      margin-bottom: none;
      margin-top: -10px;

      
      
      /* width:400px; */
    
    }

    #settings-button {
      border: none;
      font-size: 65px;
      background: none;
      border-radius:none;
      cursor: pointer;
      color: #CEB888;
      position: relative; 
      margin-left: 150%; 
      margin-top: -380%; 
      display: block;

      /* margin-bottom: 100%;  */
      /* position: absolute;
      margin-left: 1100px;
      margin-top: -330px;  */

      
    
    }

    #chat-button {
      border: none;
      font-size: 55px;
      background: none;
      border-radius:none;
      cursor: pointer;
      margin-bottom: none;
      color: #CEB888;
      /* position: relative; */
      /* margin-left: 80%; 
      margin-top: -470%;  */
      display: block;

      /* margin-bottom: 100%;  */
      /* position: absolute;
      margin-left: 1100px;
      margin-top: -330px;  */

      
    
    }

    .notif-dropdown {
      max-width: 100%;
      height: 45px;
      display: flex;
      color: black;
      justify-content: center;
      padding: 0.5rem;
      border-radius: 20px;
      
      
    }

    .cardflex {
      z-index: 9999; 
    }
   
 
#poop {
  text-align: left;
  min-height: 100vh;
  position: static;
  z-index: 1;
}

.span {
  cursor: pointer;
}

.plus {
  float: right;
}

.modal {
  position: static;
}

.dropdown-content button {
  color: black;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  height: 100px;

}

#override {
  border: none;
  position: absolute;
  /* margin-left: 10%;
  margin-top: -45%;  */
  
  /* margin-top: -80%;  */
   
}

.dropdown-btn {
  background: none;
  width: 80px;
  
}

#plus-button {
  font-size: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
/*  margin-left: 50px;

  margin-top: -340px; */
  display: block;

  position: relative;
  margin-left: 50%;
  margin-top: -570%; 
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {  transition: 0.7s;
  display:inline; border-radius: 10px;  width: 80px;    
position: relative; margin-top: -150%; margin-right: 600%;}



/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown-content .dropbtn {display: block; background: purple} */

